[submodule "spiking_arrows"]
	path = spiking_arrows
	url = https://github.com/juleslcmt/spiking_arrows.git
[submodule "laser"]
	path = laser
	url = https://github.com/ncskth/laser
[submodule "ccw-laser-tracking"]
	path = ccw-laser-tracking
	url = https://github.com/lunagava/ccw-laser-tracking
